<script setup lang="ts">
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
import { ref, type Ref } from 'vue';
import ImageUpload from './ImageUpload.vue';
const props = defineProps({
    title: String,
    lead: String,
    body: String,
    author: String,
    imageName: String,
    errors: Object
});
const emit = defineEmits(['submit'])
const title: Ref<string|undefined> = ref(props.title ?? '');
const lead: Ref<string|undefined> = ref(props.lead ?? '');
const body: Ref<string|undefined> = ref(props.body ?? '');
const author: Ref<string|undefined> = ref(props.author ?? '');
const image: Ref<File|null> = ref(null);
const editor = ClassicEditor;

const submitForm = () => {
    const formData: FormData = new FormData();
    formData.append('title', title.value!);
    formData.append('lead', lead.value!);
    formData.append('body', body.value!);
    formData.append('author', author.value!);
    if(image.value){
        formData.append('image', image.value);
    }
    emit('submit', formData);
}

</script>
<template>
    <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input type="text" class="form-control" id="titulo" name="titulo" v-model="title">
        <p v-if="errors?.title" class="text-danger">{{errors?.title}}</p>
    </div>
    <div class="mb-3">
        <label for="chamada" class="form-label">Chamada</label>
        <input type="text" class="form-control" id="chamada" name="chamada" v-model="lead">
    </div>
    <ckeditor :editor="editor" v-model="body" :config="{}"></ckeditor>
    <p v-if="errors?.body" class="text-danger">{{errors?.body}}</p>
    <div class="mb-3">
        <label for="autor" class="form-label">Autor</label>
        <input type="text" class="form-control" id="autor" v-model="author">
        <p v-if="errors?.author" class="text-danger">{{errors?.author}}</p>
    </div>
    <div class="mb-3">
        <ImageUpload :image-path="$props.imageName" name="imagem" @file-changed="(file) => image = file"/>
        <p v-if="errors?.image" class="text-danger">{{errors?.image}}</p>
    </div>
    <div class="d-flex gap-2 col-12 mx-auto mb-5 flex">
        <button class="btn btn-primary flex-fill" @click="submitForm">Salvar</button>
        <RouterLink :to="{ name: 'index' }" class="btn btn-danger flex-fill">Cancelar</RouterLink>
    </div>
</template>

<style>
.ck-editor__editable {
    min-height: 500px;
}
</style>