<script setup lang="ts">
import { registerRuntimeCompiler } from 'vue';
import { onMounted, toRef } from 'vue';
import { ref, type Ref } from 'vue';

const props = defineProps({
    imagePath: String,
    uploadName: String
});
const emit = defineEmits(['fileChanged']);

const imageData: Ref<string|undefined> = ref(props.imagePath!);
const imageDialog: Ref<HTMLElement|null> = ref(null);


const uploadDialog = () => {
    imageDialog.value?.click();
}

const readImage = (file: File) => {
    const reader = new FileReader();
    reader.onload = (e: ProgressEvent<EventTarget>) => {
        imageData.value = reader.result?.toString();
    }
    reader.readAsDataURL(file)
}
const changedImage = (event: any) => {
    if(event.currentTarget?.value.length == 0) {
        return;
    }
    readImage(event.target.files[0])
    emit('fileChanged', event.target.files[0]);
}
</script>
<template>
    <div class="row">
        <div class="col-12">
            <input class="form-control" type="file" ref="imageDialog" @change="changedImage" style="display: none" :name="$props.uploadName" accept="image/png, image/jpg">
            <div class="d-flex flex-column">
                <img :src="imageData" alt="" id="imagePreview" class="mb-2">
                <button class="btn btn-primary btn-block" @click="uploadDialog">Upload</button>
            </div>
        </div>
    </div>
</template>
<style scoped>
#imagePreview {
    max-height: 500px;
    object-fit: contain;
}
</style>