<script setup lang="ts">
import Editor from '@/components/Editor.vue';
import axios from '@/services/http';
import { ref, onMounted, type Ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const params = useRoute().params;
const router = useRouter();
const newsData: Ref<{title: string, lead?: string, body: string, author: string, image_path: string}|null> = ref(null);
const errors: Ref<{title?: string, body?: string, author?: string, image?: string}> = ref({});

const submit = (form: FormData) => {
    errors.value = {};
    if(form.get('title') == '') {
        errors.value.title = "Título obrigatório";
    }
    if(form.get('body') == '') {
        errors.value.body = "Corpo da notícia obrigatório";
    }
    if(form.get('author') == '') {
        errors.value.author = "Autor obrigatório";
    }
    if(!form.has('image')) {
        errors.value.image = "Imagem obrigatória";
    }
    if(Object.keys(errors.value).length == 0) {
        let url: string = '/api/news';
        axios.post(url, form).then(response => {
            router.push({name: 'index'});
        })
    }
}
</script>
<template>
    <Editor @submit="submit" :errors="errors"/>
</template>