<script setup lang="ts">
import Editor from '@/components/Editor.vue';
import axios from '@/services/http';
import { ref, onMounted, type Ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';

const params = useRoute().params;
const router = useRouter();
const newsData: Ref<{title: string, lead?: string, body: string, author: string, image_path: string}|null> = ref(null);
const errors: Ref<{title?: string, body?: string, author?: string}> = ref({});

axios.get('api/news/' + params.id +'/edit').then(response => {
    newsData.value = response.data;
});

const submit = (form: FormData) => {
    if(form.get('title') == '') {
        errors.value.title = "Título obrigatório"
    }
    if(form.get('body') == '') {
        errors.value.body = "Corpo da notícia obrigatório"
    }
    if(form.get('author') == '') {
        errors.value.author = "Autor obrigatório"
    }
    if(Object.keys(errors.value).length == 0) {
        form.append('_method', 'PUT');
        axios.post('/api/news/' + params.id, form).then(response => {
            router.push({name: 'index'});
        });
    }
}
</script>
<template>
    <template v-if="newsData">
        <Editor :title="newsData?.title" :lead="newsData?.lead" :body="newsData?.body" :author="newsData?.author" :image-name="newsData?.image_path" @submit="submit" :errors="errors"/>
    </template>
</template>