<script setup lang="ts">
import axios from '../services/http';
import { onMounted, ref, type Ref } from 'vue';
  const news: Ref<Array<{id: number, title: string, lead?: string, author: string, created_at: Date}>> = ref([]);

  const fetchNews = () => {
    axios.get('/api/news').then(response => {
      news.value = response.data
    });
  }

  onMounted(() => {
    fetchNews();
  })

  const deleteNews = (id: number) => {
    axios.post('/api/news/' + id, {
      _method: 'DELETE'
    }).then(() => {
      fetchNews()
    })
  }
</script>

<template>
  <main>
    <div class="row">
      <div class="col-6"><h1>Noticias</h1></div>
      <div class="col-6 text-end">
        <RouterLink :to="{ name: 'create' }" class="btn btn-primary">Criar</RouterLink>
      </div>
    </div>
    <div class="row border rounded mb-2 py1-2" v-for="iNews in news" :key="iNews.title">
      <div class="col">
        <div class="row">
          <div class="col-12">
            <p class="fs-5 mb-1">{{ iNews.title }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col"><p class="mb-1">{{ iNews.lead }}</p></div>
          <div class="col text-end"><p class="text-secondary fst-italic mb-1">Autor: {{ iNews.author }}</p></div>
        </div>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
        <div class="btn-group">
          <RouterLink :to="{name: 'news', params: {id: iNews.id}}" class="btn btn-primary btn-sm">Visualizar</RouterLink>
          <RouterLink :to="{name: 'editor', params: {id: iNews.id}}" class="btn btn-secondary btn-sm">Editar</RouterLink>
          <button class="btn btn-danger btn-sm" @click="deleteNews(iNews.id)">Excluir</button>
        </div>
      </div>
    </div>
  </main>
</template>

