<script setup lang="ts">
import axios from '@/services/http';
import { ref, type Ref } from 'vue';
import { useRoute, type RouteParams } from 'vue-router';

const params: RouteParams = useRoute().params;
let news: Ref<{title: string, lead?: string, body: string, image_path: string, author: string, created_at: Date}|null> = ref(null);
axios.get('/api/news/' + params.id).then(response => {
    news.value = response.data;
});

</script>
<template>
    <main>
        <Transition appear >
            <div class="row" v-if="news">
                <div class="col-8 offset-2">
                    <img class="img-fluid mb-5 news-cover" width="100%" :src="news.image_path" alt="" srcset="">
                    <h1>{{ news.title }}</h1>
                    <p class="lead">{{ news.lead }}</p>
                    <span class="text-secondary">Postado por: {{ news.author}} em {{ new Date(news.created_at).toLocaleString('pt-BR')}}</span>
                    <div v-html="news.body"></div>
                </div>
            </div>
        </Transition>
    </main>
</template>

<style scoped>
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.news-cover {
    max-width: 100%;
    max-height: 500px;
    object-fit: cover;
}
</style>